body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    position: relative;
    width: 800px;
    height: 500px;
    background: #222;
    overflow: hidden;
}

.clip{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: 0.5s ease;
}

/* Default 3 Split Layout */
.clip1{
    background: url(images/image1.jpg);
    background-size: cover;
    background-position: center;
    clip-path: polygon(0 0, 33% 0, 33% 100%, 0 100%);
}

.clip2{
    background: url(images/image2.jpg);
    background-size: cover;
    background-position: center;
    clip-path: polygon(33% 0, 66% 0, 66% 100%, 33% 100%);
}

.clip3{
    background: url(images/image3.jpg);
    background-size: cover;
    background-position: center;
    clip-path: polygon(66% 0, 100% 0, 100% 100%, 66% 100%);
}

/* Hover Effect */
.container:hover .clip{
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
}

.container .clip:hover{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    z-index: 10;
}
